extends main
block tailwind-css
	link(rel="stylesheet", href="../style.css")

block left-column
	p override left

block middle-column
	p override middle

//- block right-column
	p override right


block footer
	div(class='text-red-500')
		p Footer section

block prepend footer
	p top of the footer

block append footer
	p bellow of the footer

