doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Testing 
		link(rel="stylesheet", href="style.css")

	body 
		hi(class='text-red-500') HTML
		h2(class='bg-red-100 text-blue-500') Hi there

		button(type="button") Click