doctype html
html(lang="en")
	head
		title Testing 
		link(rel="stylesheet", href="style.css")

	body 
		p#userId Paragraph with id attribute
		p.userId Paragraph with class attribute

		p(class='text-red-500') Paragraph with class attribute

		div(class='border border-red-200 my-4')
			label(for="username") Username
			input.border.border-blue-500(type="text" placehoder='placeholder' name='username' id='username' value='')
