doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Testing 

	body 
		p This is single line pragraph

		h1 Method-1:
		p 
			| This is multi-line pragraph: line One
			| This is multi-line pragraph: line Two

		h1 Method-2:
		p.
			This is multi-line pragraph: line One
			This is multi-line pragraph: line Two
