doctype html
html(lang="en")
	head
		title Testing 
		link(rel="stylesheet", href="style.css")
		style.
			.my-class {
				border: 1px solid red;
				color: red;
			}

	body 
		p(style='border: 1px solid red; color: red;') Inline Styles
		p(class='my-class') Embeded Styles
		p(class='border border-red-500 text-red-500') Tailwind CSS
